.single-sheet.paper .p-temporal,
.single-sheet.paper .page-num {
    background-image: url(../img/paper.jpg);
    background-size: 100% 100%;
    direction: ltr;
    background-repeat: repeat;
}

.single-sheet.paper .story-settings {
    position: absolute;
    top: 50px;
    left: 50px;
}

.single-sheet.paper .page-num .journal-entry-page {
    -webkit-mask-image: url(../img/pristine_mask.webp);
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}
